<?xml version='1.0'?>
<sdf version='1.8'>
    <model name="x3_realsense">
    <include>
        <uri>model://x3</uri>
        <plugin
            filename="ignition-gazebo-multicopter-motor-model-system"
            name="ignition::gazebo::systems::MulticopterMotorModel">
            <robotNamespace>{{ namespace }}</robotNamespace>
            <jointName>X3/rotor_0_joint</jointName>
            <linkName>X3/rotor_0</linkName>
            <turningDirection>ccw</turningDirection>
            <timeConstantUp>0.0125</timeConstantUp>
            <timeConstantDown>0.025</timeConstantDown>
            <maxRotVelocity>800.0</maxRotVelocity>
            <motorConstant>8.54858e-06</motorConstant>
            <momentConstant>0.016</momentConstant>
            <commandSubTopic>gazebo/command/motor_speed</commandSubTopic>
            <motorNumber>0</motorNumber>
            <rotorDragCoefficient>8.06428e-05</rotorDragCoefficient>
            <rollingMomentCoefficient>1e-06</rollingMomentCoefficient>
            <motorSpeedPubTopic>motor_speed/0</motorSpeedPubTopic>
            <rotorVelocitySlowdownSim>10</rotorVelocitySlowdownSim>
            <motorType>velocity</motorType>
        </plugin>
        <plugin
            filename="ignition-gazebo-multicopter-motor-model-system"
            name="ignition::gazebo::systems::MulticopterMotorModel">
            <robotNamespace>{{ namespace }}</robotNamespace>
            <jointName>X3/rotor_1_joint</jointName>
            <linkName>X3/rotor_1</linkName>
            <turningDirection>ccw</turningDirection>
            <timeConstantUp>0.0125</timeConstantUp>
            <timeConstantDown>0.025</timeConstantDown>
            <maxRotVelocity>800.0</maxRotVelocity>
            <motorConstant>8.54858e-06</motorConstant>
            <momentConstant>0.016</momentConstant>
            <commandSubTopic>gazebo/command/motor_speed</commandSubTopic>
            <motorNumber>1</motorNumber>
            <rotorDragCoefficient>8.06428e-05</rotorDragCoefficient>
            <rollingMomentCoefficient>1e-06</rollingMomentCoefficient>
            <motorSpeedPubTopic>motor_speed/1</motorSpeedPubTopic>
            <rotorVelocitySlowdownSim>10</rotorVelocitySlowdownSim>
            <motorType>velocity</motorType>
        </plugin>
        <plugin
            filename="ignition-gazebo-multicopter-motor-model-system"
            name="ignition::gazebo::systems::MulticopterMotorModel">
            <robotNamespace>{{ namespace }}</robotNamespace>
            <jointName>X3/rotor_2_joint</jointName>
            <linkName>X3/rotor_2</linkName>
            <turningDirection>cw</turningDirection>
            <timeConstantUp>0.0125</timeConstantUp>
            <timeConstantDown>0.025</timeConstantDown>
            <maxRotVelocity>800.0</maxRotVelocity>
            <motorConstant>8.54858e-06</motorConstant>
            <momentConstant>0.016</momentConstant>
            <commandSubTopic>gazebo/command/motor_speed</commandSubTopic>
            <motorNumber>2</motorNumber>
            <rotorDragCoefficient>8.06428e-05</rotorDragCoefficient>
            <rollingMomentCoefficient>1e-06</rollingMomentCoefficient>
            <motorSpeedPubTopic>motor_speed/2</motorSpeedPubTopic>
            <rotorVelocitySlowdownSim>10</rotorVelocitySlowdownSim>
            <motorType>velocity</motorType>
        </plugin>
        <plugin
            filename="ignition-gazebo-multicopter-motor-model-system"
            name="ignition::gazebo::systems::MulticopterMotorModel">
            <robotNamespace>{{ namespace }}</robotNamespace>
            <jointName>X3/rotor_3_joint</jointName>
            <linkName>X3/rotor_3</linkName>
            <turningDirection>cw</turningDirection>
            <timeConstantUp>0.0125</timeConstantUp>
            <timeConstantDown>0.025</timeConstantDown>
            <maxRotVelocity>800.0</maxRotVelocity>
            <motorConstant>8.54858e-06</motorConstant>
            <momentConstant>0.016</momentConstant>
            <commandSubTopic>gazebo/command/motor_speed</commandSubTopic>
            <motorNumber>3</motorNumber>
            <rotorDragCoefficient>8.06428e-05</rotorDragCoefficient>
            <rollingMomentCoefficient>1e-06</rollingMomentCoefficient>
            <motorSpeedPubTopic>motor_speed/3</motorSpeedPubTopic>
            <rotorVelocitySlowdownSim>10</rotorVelocitySlowdownSim>
            <motorType>velocity</motorType>
        </plugin>
        <plugin
            filename="ignition-gazebo-multicopter-control-system"
            name="ignition::gazebo::systems::MulticopterVelocityControl">
            <robotNamespace>{{ namespace }}</robotNamespace>
            <commandSubTopic>gazebo/command/twist</commandSubTopic>
            <enableSubTopic>enable</enableSubTopic>
            <comLinkName>X3/base_link</comLinkName>
            <velocityGain>2.7 2.7 2.7</velocityGain>
            <attitudeGain>2 3 0.15</attitudeGain>
            <angularRateGain>0.4 0.52 0.18</angularRateGain>
            <maximumLinearAcceleration>2 2 2</maximumLinearAcceleration>

            <rotorConfiguration>
                <rotor>
                <jointName>X3/rotor_0_joint</jointName>
                <forceConstant>8.54858e-06</forceConstant>
                <momentConstant>0.016</momentConstant>
                <direction>1</direction>
                </rotor>
                <rotor>
                <jointName>X3/rotor_1_joint</jointName>
                <forceConstant>8.54858e-06</forceConstant>
                <momentConstant>0.016</momentConstant>
                <direction>1</direction>
                </rotor>
                <rotor>
                <jointName>X3/rotor_2_joint</jointName>
                <forceConstant>8.54858e-06</forceConstant>
                <momentConstant>0.016</momentConstant>
                <direction>-1</direction>
                </rotor>
                <rotor>
                <jointName>X3/rotor_3_joint</jointName>
                <forceConstant>8.54858e-06</forceConstant>
                <momentConstant>0.016</momentConstant>
                <direction>-1</direction>
                </rotor>
            </rotorConfiguration>
        </plugin>
        <plugin
            filename="ignition-gazebo-joint-state-publisher-system"
            name="ignition::gazebo::systems::JointStatePublisher">
            <joint_name>X3/rotor_0_joint</joint_name>
            <joint_name>X3/rotor_1_joint</joint_name>
            <joint_name>X3/rotor_2_joint</joint_name>
            <joint_name>X3/rotor_3_joint</joint_name>
        </plugin>
        <plugin
            filename="ignition-gazebo-odometry-publisher-system"
            name="ignition::gazebo::systems::OdometryPublisher">
            <odom_publish_frequency>50</odom_publish_frequency>
            <odom_topic>/model/{{ namespace }}/odom</odom_topic>
            <odom_frame>odomCustom</odom_frame>
            <robot_base_frame>baseCustom</robot_base_frame>
            <dimensions>3</dimensions>
        </plugin>
    </include>
    <include>
        <!-- <uri>
        https://fuel.ignitionrobotics.org/1.0/OpenRobotics/models/Intel RealSense D435
        </uri> -->
        <uri>model://RealSense_D435</uri>
        <pose>0.05 0 0.01 0 0 1.57</pose>
    </include>
    <joint name='X3/realsense_joint' type='fixed'>
      <child>realsense_d435::link</child>
      <parent>x3::X3/base_link</parent>
    </joint>
    </model>
</sdf>