{# https://github.com/osrf/subt/blob/final_event/subt_ign/launch/competition.ign #}
<?xml version='1.0'?>
<sdf version='1.6'>
</include>
    <include>
        <uri>https://fuel.ignitionrobotics.org/1.0/OpenRobotics/models/X1 UGV</uri>
        <plugin
            filename="gz-sim-diff-drive-system"
            name="gz::sim::systems::DiffDrive">
            <left_joint>front_left_wheel_joint</left_joint>
            <left_joint>rear_left_wheel_joint</left_joint>
            <right_joint>front_right_wheel_joint</right_joint>
            <right_joint>rear_right_wheel_joint</right_joint>
            <wheel_separation>0.684735</wheel_separation>
            <wheel_radius>0.1651</wheel_radius>
            <min_velocity>-1</min_velocity>
            <max_velocity>1</max_velocity>
            <min_acceleration>-3</min_acceleration>
            <max_acceleration>3</max_acceleration>
        </plugin>
        <!-- Publish robot state information -->
        <plugin filename="libgz-sim-pose-publisher-system.so"
            name="gz::sim::systems::PosePublisher">
            <publish_link_pose>true</publish_link_pose>
            <publish_sensor_pose>true</publish_sensor_pose>
            <publish_collision_pose>false</publish_collision_pose>
            <publish_visual_pose>false</publish_visual_pose>
            <publish_nested_model_pose>#{$enableGroundTruth}</publish_nested_model_pose>
            <use_pose_vector_msg>true</use_pose_vector_msg>
            <static_publisher>true</static_publisher>
            <static_update_frequency>1</static_update_frequency>
        </plugin>
        {# <plugin
            filename="gz-sim-odometry-publisher-system"
            name="gz::sim::systems::OdometryPublisher">
            <odom_publish_frequency>50</odom_publish_frequency>
            <odom_topic>/model/{{ namespace }}/odom</odom_topic>
            <odom_frame>odomCustom</odom_frame>
            <robot_base_frame>baseCustom</robot_base_frame>
            <dimensions>3</dimensions>
        </plugin> #}
    </include>
</sdf>